<div class="container">
    <form>
        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
                <span id="basic-text1"><button (click)="searchUser()" class="btn btn-cyan btn-sm" type="submit">
                        <i class="fas fa-search" aria-hidden="true"></i></button></span>
            </div>
            <input class="form-control my-0 py-1" type="text" placeholder="Search git user with username"
                aria-label="Search" [(ngModel)]="userName" name="username" autocomplete="off" />
        </div>
    </form>
</div>

<div *ngIf="userInfo">
    <div class="row">
        <div class="col-md-3">
            <!-- Card Wider -->
            <div class="card card-cascade wider mt-3">
                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="{{ userInfo.avatar_url }}" alt="profile photo" height="280" />
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade elegant-color white-text text-center pb-0">
                    <!-- Title -->
                    <h4 *ngIf="userInfo.name" appAppHighlight id="name" class="card-title">
                        <strong>{{ userInfo.name }}</strong>
                    </h4>
                    <!-- Subtitle -->
                    <h5 *ngIf="userInfo.login" class="cyan-text pb-2">
                        Username : <strong>{{ userInfo.login }}</strong>
                    </h5>
                    <!-- Text -->
                    <h5 *ngIf="userInfo.location" class="blue-text pb-2">
                        Location : {{ userInfo.location }}
                    </h5>

                    <!-- Card footer -->
                    <div class="card-footer text-muted text-center mt-4">
                        <p class="note note-success"><strong> Date : {{ userInfo.updated_at | timeCalc }} (in
                                milliseconds)
                            </strong> <br> Since Last Profile Update</p>
                    </div>
                </div>
            </div>
            <!-- Card Wider -->
        </div>
        <div class="col-md-5">
            <div class="card-body card-body-cascade text-center side-card">
                <!-- Title -->
                <h4 class="card-title"><strong>Profile Info</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">My Bio</h6>
                <!-- Text -->
                <p *ngIf="userInfo.bio" class="card-text">{{ userInfo.bio }}</p>
                <div class="social-icons">
                    <!-- Linkedin -->
                    <a href="{{ userInfo.html_url }} " target="_blank" class="px-2 fa-lg li-ic"><i
                            class="fab fa-github fa-2x"></i></a>
                    <!-- Twitter -->
                    <a href="https://twitter.com/{{ userInfo.twitter_username }} " target="_blank"
                        class="px-2 fa-lg tw-ic"><i class="fab fa-twitter fa-2x"></i></a>
                    <!-- Dribbble -->
                    <a href="emailto:{{ userInfo.email }}" class="px-2 fa-lg fb-ic"><i
                            class="fa fa-envelope fa-2x"></i></a>
                </div>
                <div>
                    <p style="font-size: larger">
                        <span class="badge badge-default">{{ userInfo.followers }} Followers</span>
                        <span class="badge badge-info">Following {{ userInfo.following }}</span>
                        <span class="badge badge-light">{{ userInfo.public_repos }} Public Repos</span>
                        <span class="badge badge-dark">{{ userInfo.public_gists }} Public Gists</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 hidden">
            <h2 id="repo-title" class="text-center text-info">Repositories</h2>
            <div class="btn-group" role="group" aria-label="Basic example" *ngFor="let repo of repos">
                <button type="button" class="btn btn-outline-deep-purple btn-rounded waves-effect btn-sm">
                    <i class="fab fa-github fa-sm pr-2" aria-hidden="true"></i><a href="{{ repo.html_url }}"
                        target="_blank">
                        {{ repo.name }} </a>
                </button>
            </div>
        </div>
    </div>
</div>

